[Unit]
Description=Clouglog hardware sync using Hamlib as backend
After=network.target

[Service]
Type=simple
ExecStart=/usr/local/bin/cloudlog-sync.py
# Disable Python's buffering of STDOUT and STDERR, so that output from the
# service shows up immediately in systemd's logs
Environment=PYTHONUNBUFFERED=1
Restart=always
RestartSec=30
# Use a dedicated user to run our service
#User=cloudlog

[Install]
WantedBy=default.target
